name: metadia
description: Aplicativo minimalista para acompanhamento e evolução de metas pessoais.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.8
  get: ^4.7.3
  uuid: ^4.5.3
  sqflite: ^2.4.2
  path: ^1.9.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4

flutter:
  uses-material-design: true

  assets:
    - assets/images/

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icon/metadia_icon_master_1024.png"
  adaptive_icon_background: "#D2E4DD"
  adaptive_icon_foreground: "assets/icon/metadia_icon_foreground_1024.png"